body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px;
}

.team-section {
    background-color:#ffffff;
    padding: 8px 20px 30px;
}

.team-section h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.team-section h1 span {
    color: #00a693;
}

.quote {
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-member {
    background-color: #e1f0ee;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}

.team-member p {
    margin: 5px 0;
    color: #777;
}

@media (max-width: 768px) {
    .team-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .team-grid {
        grid-template-columns: 1fr;
    }
}
